.grid-container2 {
    display: grid;
    grid-template-columns: auto;
}
.grid-items2{
    border: 1px solid #ffffff;
    padding: 1px;
    height: 300px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.grid-items2 img{
    height: 100%;
    width: 100%;
}
@media (max-width: 800px) {
    .grid-container2 {
grid-template-columns: auto;
}           
}