.gif-container {
    display: grid;
    grid-template-columns: auto;
}
.gif-items{
    border: 1px solid #ffffff;
    padding: 1px;
    height: 300px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.gif-items img{
    height: 100%;
    width: 100%;
}
@media (max-width: 800px) {
    .gif-container {
grid-template-columns: auto;
}           
}
